// Google Font
@import url('https://fonts.googleapis.com/css?family=Exo:300');

// Variables
$null:0px;
$full:100%;
$prim:#125078;
$sec:#C8C8C8;

// Mixin
@mixin centerText{
	width:$full;
	text-align:center;
}

// Standard reset code
body, html{
	padding:$null;
	margin:$null;
}

*{
	font-family: 'Exo', sans-serif;
	box-sizing:border-box;
	color:$prim;
	font-weight:300;
	float:left;
}


#wrapper{
	background-color:#C8C8C8;
	min-height:400px;
	width:$full;
	position:absolute;
}

#header{
	width:$full;
	height:auto;
	padding:30px;
	border-bottom:2px solid $prim;

	h1{
		@include centerText;
		margin-bottom:$null;
		letter-spacing:25px;
	}

	h4{
		@include centerText;
		margin:$null $null 10px $null;
	}
}

#charts-container{
	padding:20px;
	width:80%;
	margin:$null 10%;
	min-height:10px;
}

#studentTravel{
	width:100%;
	height:500px;
	background-color:white;
}

.chart-group{
	height:auto;
	min-height:10px;
	width:90%;
	margin:20px 5%;
}

.chart-dimensions{
	background-color:white;
	position:relative;
	width:75%;
	min-height:100px;
}

.node-dimensions{
	background-color:#EBEBEB;
	position:relative;
	float:right;
	width:20%;
	min-height:100px;
	padding:10px;

	h2, span, h4, i{@include centerText;}

	.fa-question, span{font-size:50px !important;}

	h4{margin-top:$null;}
}














